:root {
    --primary-colour: #055a05;
    --secondary-colour: #051570;
    --accent1-colour: #264653;
    --accent2-colour: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, Sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-colour);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
footer {
    display: flex;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-colour);
    align-content: center;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--accent2-colour);
}
h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-colour);
    color: #fff;
}
.hero article {
    position: absolute;
    top: 67px;
}
.hero article img  {
    float: right;
    width: 125px;
}
.history div{
    display: flex;
    justify-content: center;
}
.history h2 {
    justify-self: center;
}
.history img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}
.adventure h2 {
    justify-self: center;
}
.adventure div{
    display: grid;
    grid-template-columns: repeat(5,20%);
}