:root {
    --primary-colour: #055a05;
    --secondary-colour: #051570;
    --accent1-colour: #264653;
    --accent2-colour: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, Sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-colour);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--accent2-colour);
}
footer {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    background-color: var(--accent2-colour);
}
footer p {
    position: absolute;
    left: 50%;             
    transform: translateX(-50%);
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-colour);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-colour);
    align-content: center;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--accent2-colour);
}
h1.about-us {
    position: absolute;
    top: -83px;
    width: 104%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-colour);
    color: #fff;
}
.hero article {
    position: absolute;
    top: 67px;
}
.hero article img  {
    float: right;
    width: 125px;
}
.history div{
    display: flex;
    justify-content: center;
}
.history h2 {
    justify-self: center;
}
.history img {
    width: 25%;
    height: 25%;
    object-fit: contain;
    align-self: center;
}
.adventure h2 {
    justify-self: center;
}
.adventure div{
    display: flex;
    justify-content: space-around;
}
.adventure img {
    max-width: 100%;
    padding: 20px;
}
figcaption {
    text-align: center;
}
.info p, h2, h1 {
    margin: 0px;
    justify-self: center;
    padding: 5px;
}
.info{
    margin: 10px;
}
iframe, form {
    flex: none;
    height: 350px;
    width: 40%;
    margin-right: 50px;
}
.contact {
    display: flex;
}
.contact img {
    width: 200px;
}
form {
    display: block;
    padding: 10px;
}
.message-radio{
    display: grid;
    justify-content: right;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-item {
    margin: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}
input[type=radio]{
    height:20px;
}
input[type=checkbox]{
    margin: 10px;;
}
button {
    width: 100%;
    height: 30px;
}
.index-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.index-grid img {
    width: 75%;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}
td , th , tr {
    border: 1px solid #000;
    margin: 0;
    padding: 10px;
} 