* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --big-colour: darkblue;
    --default-bourder: 1px solid black;
}

nav {
    background-color: var(--big-colour);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--big-colour);
}
main img {
    width: 150px;
    height: auto;
    border: var(--default-bourder);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 20rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    float: right;
}
aside h2 {
  position: absolute;
  top: 80px;
  left: 240px;
}
footer {
    margin-top: 15px;
    border-top: var(--default-bourder);
    text-align: center;
}

/* CLass Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--default-bourder);
    background-color: maroon;
    color: sandybrown;
}